<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm email</title>
</head>
<body>
    <h1>Hello! You need to confirm your email address</h1>
    <p>Click the link below</p>
    <a href="<%= link %>">Click here</a>
</body>
</html>